## Recommender system by deep learning

Learn the latern feature of both item and user by deep neural network.

In [4]:
import pandas as pd

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,
 encoding='latin-1')

R_df = ratings.pivot(index = 'user_id', columns ='movie_id', values = 'rating')
R_df.shape

(943, 1682)

In [12]:
sparsity = np.isnan(R_df.values).sum()/np.prod(R_df.shape)
print("Sparsity: {0:.2%}".format(sparsity))

Sparsity: 93.70%

In [32]:
idx = np.argwhere(np.isnan(R_df.values)).tolist()

R_df.iloc[0,273]

for i in range(20):
    print(idx[i])
    print(R_df.iloc[idx[i]])

[0, 272]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
273        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
273        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 273]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
274        4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   5.0   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
274        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 274]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
275        4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
275        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 275]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
276        5.0   4.0   3.0   4.0   3.0   NaN   5.0   4.0   5.0   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
276        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 276]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
277        4.0   NaN   NaN   NaN   NaN   NaN   2.0   NaN   4.0   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
277        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 277]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
278        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
278        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 278]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
279        3.0   4.0   NaN   4.0   NaN   NaN   5.0   NaN   NaN   4.0  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
279        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 279]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
280        4.0   3.0   2.0   3.0   4.0   NaN   4.0   5.0   5.0   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
280        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 280]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
281        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
281        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 281]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
282        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
282        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 282]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
283        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
283        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 283]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
284        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
284        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 284]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
285        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
285        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 285]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
286        4.0   NaN   2.0   5.0   NaN   NaN   4.0   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
286        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 286]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
287        5.0   NaN   NaN   4.0   NaN   NaN   NaN   NaN   5.0   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
287        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 287]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
288        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
288        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 288]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
289        3.0   NaN   NaN   NaN   NaN   NaN   4.0   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
289        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 289]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
290        5.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
290        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 290]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
291        5.0   NaN   3.0   4.0   5.0   NaN   5.0   4.0   5.0   NaN  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
291        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]
[0, 291]
movie_id  1     2     3     4     5     6     7     8     9     10    ...   \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
292        4.0   4.0   NaN   NaN   NaN   NaN   3.0   NaN   4.0   5.0  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
292        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1682 columns]